$mainColor: yellow;
$mainFont: "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif;
$background: "https://cdn-images-1.medium.com/max/1600/0*I-sI3u34g0ydRqyA";
$padding: 15px;
$width: 1000px;
